<%# <ul class="nav col-sm-12 col-lg-auto me-lg-auto mb-sm-2 justify-content-sm-center mb-md-0 d-flex flex-column gap-2 fs-3 mb-2"> %>
<ul class="nav col-sm-12 col-lg-auto me-lg-auto mb-sm-2 justify-content-center mb-md-0 d-flex flex-column flex-sm-row text-sm-center">
  <li><%= link_to t('.home'), root_path, class: "nav-link px-sm-2 text-white" if Current.user&.admin? %>
  </li>
  <li><%= link_to t('.products'), products_path, class: "nav-link px-sm-2 text-white" %></li>
  <li><%= link_to t('.new_product'), new_product_path, class: "nav-link px-sm-2 text-white", data: { turbo_frame: "modal" } if Current.user %>
  </li>
  <li><%= link_to t('.categories'), categories_path, class: "nav-link px-sm-2 text-white"  if Current.user&.admin? %></li>
  <li><%= link_to t('.favorites'), favorites_path, class: "nav-link px-sm-2 text-white"  if Current.user %></li>
</ul>

<%# <div> %>
  <%= form_with url: products_path, method: :get, class: 'col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3' do |form| %>
    <%= form.text_field :query_text, placeholder: t('.query_text'), onChange: 'this.form.requestSubmit()', class: 'form-control form-control-dark text-bg-dark' %>
  <% end %>

  <div class="text-center text-lg-end">
    <%= link_to t('.login'), new_session_path, class: "btn btn-outline-light me-2"  unless Current.user %>
    <%#= link_to t('.singup'), new_user_path, class: "btn btn-warning"  unless Current.user %>
    <%= link_to t('.logout'), session_path(Current.user.id), data: {
      turbo_method: :delete,
      turbo_confirm: t('common.confirm')
    }, class: "btn btn-outline-light me-2" if Current.user %>
  </div>
<%# </div> %>