<%# binding.pry %>
<%= form_with(model: user, url: url, method: url_method) do |f| %>
  <input type="hidden" id="user_hidden" name="user_hidden" value="new">
  <% if user.errors.any? %>
    <div class="error_explanation alert_error">
      <div class="icon_error_explanation">
        <i class="icon-shield"></i>
      </div>
      <div class="data_error_explanation">
        <div class="close_btn">
          <span class="fa fa-times"></span>
        </div>
        <h2><%= pluralize(user.errors.count, "errores") %> prohíben que se salve la información:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xl-12">
      <div class="form-group">
        <label class="small mb-1" for="text">Correo electrónico:</label>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group mt-1">
        <label class="small mb-1" for="text">Whatsapp:</label>
        <%= f.text_field :whatsapp, class: 'form-control' %>
      </div>
      <div class="form-group mt-3">
        <%= f.label :admin, class: 'small mb-1' do %>¿Admin?
        <% end %>
        <%= f.check_box :admin %>
      </div>

      <%#= link_to admin_users_path, class: 'btn btn-secondary mb-3' do %>
      <!--        <span class="icon-arrow-left"></span> Atrás-->
      <%# end %>
      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atrás</button>
        <!-- Save changes button-->
        <button class="btn btn-success" name="commit" type="submit"><span class="icon-check  "></span> Guardar
        </button>
      </div>
    </div>
  </div>
<% end %>
