<div id="<%= dom_id entity_business %>">
  <div class="row">
    <div class="col-12 col-md-12 d-flex justify-content-center align-items-center">
      <% if entity_business.image.present? %>
        <%= image_tag entity_business.image, class: "image-upload" %>
      <% else %>
        <img data-image-preview-target="preview" class="image-upload" src="/unknown.webp" alt="unknown">
      <% end %>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12 col-md-12 d-flex justify-content-center">
      <h4>Datos Generales</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <p>Nombre: <b><%= entity_business.name %></b></p>
    </div>
    <div class="col-md-6 col-12">
      <p>Apellidos: <b><%= entity_business.code %></b></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-12">
      <p>Descripción: <b><%= entity_business.description %></b></p>
    </div>
  </div>
</div>
