<!doctype html>
<html lang="es" data-bs-theme="light">
<!--begin::Head-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= t('app_name') %> | <%= t('meta_title') %> Venta de productos por tienda</title>
  <!--begin::Accessibility Meta Tags-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta name="color-scheme" content="light dark"/>
  <meta name="theme-color" content="#007bff" media="(prefers-color-scheme: light)"/>
  <meta name="theme-color" content="#1a1a1a" media="(prefers-color-scheme: dark)"/>
  <!--end::Accessibility Meta Tags-->
  <!--begin::Primary Meta Tags-->
  <meta name="title" content="VirtualPazzo | VirtualStoragePazzo"/>
  <meta name="author" content="ColorlibHQ"/>
  <meta
    name="description"
    content="Sitio con futuro en negocios y emprendimientos pequeños en Cuba."
    />
  <meta
    name="keywords"
    content="cuba, negocios, negocio, emprendimiento, emprendimientos, futuro"
    />
  <!--end::Primary Meta Tags-->
  <!--begin::Accessibility Features-->
  <!-- Skip links will be dynamically added by accessibility.js -->
  <meta name="supported-color-schemes" content="light dark"/>
  <!--  <link rel="preload" href="admin/adminlte.min.css" as="style" />-->
  <!--end::Accessibility Features-->
  <!--begin::Fonts-->


<!--  <link-->
<!--    rel="stylesheet"-->
<!--    href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css"-->
<!--    integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q="-->
<!--    crossorigin="anonymous"-->
<!--    media="print"-->
<!--    onload="this.media='all'"-->
<!--    />-->
<!--  <link-->
<!--    rel="stylesheet"-->
<!--    href="<%#= asset_url('admin/jsdelivr/index.css') %>"-->
<!--    integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q="-->
<!--    crossorigin="anonymous"-->
<!--    media="print"-->
<!--    onload="this.media='all'"-->
<!--    />-->



  <!--end::Fonts-->
  <!--begin::Third Party Plugin(OverlayScrollbars)-->


<!--  <link-->
<!--    rel="stylesheet"-->
<!--    href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/styles/overlayscrollbars.min.css"-->
<!--    crossorigin="anonymous"-->
<!--    />  -->
<!--  <link-->
<!--    rel="stylesheet"-->
<!--    href="<%#= asset_url('admin/jsdelivr/overlayscrollbars.min.css') %>"-->
<!--    crossorigin="anonymous"-->
<!--    />-->



  <!--end::Third Party Plugin(OverlayScrollbars)-->
  <!--begin::Third Party Plugin(Bootstrap Icons)-->


<!--  <link-->
<!--    rel="stylesheet"-->
<!--    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"-->
<!--    crossorigin="anonymous"-->
<!--    />  -->
<!--  <link-->
<!--    rel="stylesheet"-->
<!--    href="<%#= asset_url('admin/jsdelivr/bootstrap-icons.min.css') %>"-->
<!--    crossorigin="anonymous"-->
<!--    />-->



  <!--end::Third Party Plugin(Bootstrap Icons)-->
  <!--begin::Required Plugin(AdminLTE)-->
  <!--  <link rel="stylesheet" href="admin/adminlte.min.css" />-->
  <!--end::Required Plugin(AdminLTE)-->

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "admin", "data-turbo-track": "reload" %>
</head>
<!--end::Head-->
<!--begin::Body-->
<body class="layout-fixed sidebar-expand-lg sidebar-open bg-body-tertiary" data-controller="admin">
<!--begin::App Wrapper-->
<div class="app-wrapper">
  <!--begin::Header-->
  <nav class="app-header navbar navbar-expand bg-body-tertiary" data-bs-theme="dark">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Start Navbar Links-->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
            <i class="bi bi-list"></i>
          </a>
        </li>
        <li><%= link_to t('shared.items.home'), root_path, class: "nav-link" %></li>
        <li><%= link_to t('shared.items.administration'), admin_path, class: "nav-link" %></li>
        <!--        <li class="nav-item d-none d-md-block"><a href="#" class="nav-link">Home</a></li>-->
        <!--        <li class="nav-item d-none d-md-block"><a href="#" class="nav-link">Contact</a></li>-->
      </ul>
      <!--end::Start Navbar Links-->
      <!--begin::End Navbar Links-->
      <!--begin::End Navbar Links-->
      <ul class="navbar-nav ms-auto">
        <!--begin::Color Mode-->
        <li class="nav-item dropdown">
          <button
            class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            data-bs-display="static"
          >
          <span class="theme-icon-active">
            <i class="my-1"></i>
          </span>
            <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="bd-theme-text"
            style="--bs-dropdown-min-width: 8rem;"
          >
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center active"
                data-bs-theme-value="light"
                aria-pressed="false"
              >
                <i class="bi bi-sun-fill me-2"></i>
                Light
                <i class="bi bi-check-lg ms-auto d-none"></i>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="dark"
                aria-pressed="false"
              >
                <i class="bi bi-moon-fill me-2"></i>
                Dark
                <i class="bi bi-check-lg ms-auto d-none"></i>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="auto"
                aria-pressed="true"
              >
                <i class="bi bi-circle-fill-half-stroke me-2"></i>
                Auto
                <i class="bi bi-check-lg ms-auto d-none"></i>
              </button>
            </li>
          </ul>
        </li>
        <!--end::Color Mode-->
        <!--begin::Navbar Search-->
        <li class="nav-item">
          <a class="nav-link" data-widget="navbar-search" href="#" role="button">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <!--end::Navbar Search-->
        <!--begin::Messages Dropdown Menu-->
        <li class="nav-item dropdown">
          <a class="nav-link" data-bs-toggle="dropdown" href="#">
            <i class="bi bi-chat-text"></i>
            <span class="navbar-badge badge text-bg-danger">3</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
            <a href="#" class="dropdown-item">
              <!--begin::Message-->
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <%= image_tag "erne_duni.png", height: 30, class: "img-size-50 rounded-circle me-3", alt: 'Ernesto Mejias' %>
                  <!--                  <img-->
                  <!--                    src="/assets/img/user1-128x128.jpg"-->
                  <!--                    alt="User Avatar"-->
                  <!--                    class="img-size-50 rounded-circle me-3"-->
                  <!--                    />-->
                </div>
                <div class="flex-grow-1">
                  <h3 class="dropdown-item-title">
                    Brad Diesel
                    <span class="float-end fs-7 text-danger"
                    ><i class="bi bi-star-fill"></i
                    ></span>
                  </h3>
                  <p class="fs-7">Call me whenever you can...</p>
                  <p class="fs-7 text-secondary">
                    <i class="bi bi-clock-fill me-1"></i> 4 Hours Ago
                  </p>
                </div>
              </div>
              <!--end::Message-->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!--begin::Message-->
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <%= image_tag "erne_duni.png", height: 30, class: "img-size-50 rounded-circle me-3", alt: 'Ernesto Mejias' %>
                  <!--                  <img-->
                  <!--                    src="/assets/img/user8-128x128.jpg"-->
                  <!--                    alt="User Avatar"-->
                  <!--                    class="img-size-50 rounded-circle me-3"-->
                  <!--                    />-->
                </div>
                <div class="flex-grow-1">
                  <h3 class="dropdown-item-title">
                    John Pierce
                    <span class="float-end fs-7 text-secondary">
                          <i class="bi bi-star-fill"></i>
                        </span>
                  </h3>
                  <p class="fs-7">I got your message bro</p>
                  <p class="fs-7 text-secondary">
                    <i class="bi bi-clock-fill me-1"></i> 4 Hours Ago
                  </p>
                </div>
              </div>
              <!--end::Message-->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!--begin::Message-->
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <%= image_tag "erne_duni.png", height: 30, class: "img-size-50 rounded-circle me-3", alt: 'Ernesto Mejias' %>
                  <!--                  <img-->
                  <!--                    src="/assets/img/user3-128x128.jpg"-->
                  <!--                    alt="User Avatar"-->
                  <!--                    class="img-size-50 rounded-circle me-3"-->
                  <!--                    />-->
                </div>
                <div class="flex-grow-1">
                  <h3 class="dropdown-item-title">
                    Nora Silvester
                    <span class="float-end fs-7 text-warning">
                          <i class="bi bi-star-fill"></i>
                        </span>
                  </h3>
                  <p class="fs-7">The subject goes here</p>
                  <p class="fs-7 text-secondary">
                    <i class="bi bi-clock-fill me-1"></i> 4 Hours Ago
                  </p>
                </div>
              </div>
              <!--end::Message-->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
          </div>
        </li>
        <!--end::Messages Dropdown Menu-->
        <!--begin::Notifications Dropdown Menu-->
        <li class="nav-item dropdown">
          <a class="nav-link" data-bs-toggle="dropdown" href="#">
            <i class="bi bi-bell-fill"></i>
            <span class="navbar-badge badge text-bg-warning">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
            <span class="dropdown-item dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="bi bi-envelope me-2"></i> 4 new messages
              <span class="float-end text-secondary fs-7">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="bi bi-people-fill me-2"></i> 8 friend requests
              <span class="float-end text-secondary fs-7">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="bi bi-file-earmark-fill me-2"></i> 3 new reports
              <span class="float-end text-secondary fs-7">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer"> See All Notifications </a>
          </div>
        </li>
        <!--end::Notifications Dropdown Menu-->
        <!--begin::Fullscreen Toggle-->
        <li class="nav-item">
          <a class="nav-link" href="#" data-lte-toggle="fullscreen">
            <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i>
            <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none"></i>
          </a>
        </li>
        <!--end::Fullscreen Toggle-->
        <!--begin::User Menu Dropdown-->
        <li class="nav-item dropdown user-menu">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <%= image_tag "erne_duni.png", height: 30, class: "rounded-circle shadow", alt: 'Ernesto Mejias' %>
            <!--            <img-->
            <!--              src="/assets/img/user2-160x160.jpg"-->
            <!--              class="user-image rounded-circle shadow"-->
            <!--              alt="User Image"-->
            <!--              />-->
            <span class="d-none d-md-inline">Ernesto Mejias</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
            <!--begin::User Image-->
            <li class="user-header text-bg-primary">
              <%= image_tag "erne_duni.png", height: 30, class: "rounded-circle shadow", alt: 'Ernesto Mejias' %>
              <!--              <img-->
              <!--                src="/assets/img/user2-160x160.jpg"-->
              <!--                class="rounded-circle shadow"-->
              <!--                alt="User Image"-->
              <!--                />-->
              <p>
                Ernesto Mejias - Web Developer
                <small><%= t('admin.layout.member_since') %> Nov. 2023</small>
              </p>
            </li>
            <!--end::User Image-->
            <!--begin::Menu Body-->
            <li class="user-body">
              <!--begin::Row-->
              <div class="row">
                <div class="col-4 text-center"><a href="#">Followers</a></div>
                <div class="col-4 text-center"><a href="#">Sales</a></div>
                <div class="col-4 text-center"><a href="#">Friends</a></div>
              </div>
              <!--end::Row-->
            </li>
            <!--end::Menu Body-->
            <!--begin::Menu Footer-->
            <li class="user-footer">
              <!--              <a href="#" class="btn btn-default btn-flat">Profile</a>-->
              <!--              <a class='btn btn-default btn-flat' href='<%#= admin_user_show_path(id: current_user.id) %>'><%#= t('shared.items.profile') %></a>-->
              <%= link_to t('shared.items.profile'), admin_user_show_path(id: current_user.id), class: "btn btn-default btn-flat" if current_user %>
              <!--              <a href="#" class="btn btn-default btn-flat float-end">Sign out</a>-->
              <%= link_to t('shared.items.logout'), logout_path, data: {
                turbo_method: :delete,
                turbo_confirm: t('common.confirm')
              }, class: "btn btn-default btn-flat float-end" if current_user %>
            </li>
            <!--end::Menu Footer-->
          </ul>
        </li>
        <!--end::User Menu Dropdown-->
      </ul>
      <!--end::End Navbar Links-->
    </div>
    <!--end::Container-->
  </nav>
  <!--end::Header-->
  <!--begin::Sidebar-->
  <!--  <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">-->
  <aside class="app-sidebar bg-info-subtle shadow" data-bs-theme="dark" data-turbo-permanent>
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
      <!--begin::Brand Link-->
      <%= link_to root_path, class: 'brand-image opacity-75 shadow text-decoration-none', alt: "Virtual Pazzo" do %>
        <%= image_tag "logo_virtual_storage_2.png", height: 40, class: "rounded" %>
        <span class="brand-text fw-light">Virtual Pazzo</span>
      <% end %>
      <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
      <nav class="mt-2">
        <!--begin::Sidebar Menu-->
        <ul
          class="nav sidebar-menu flex-column"
          data-lte-toggle="treeview"
          role="navigation"
          aria-label="Main navigation"
          data-accordion="false"
          id="navigation"
        >
          <li class="nav-item">
            <%= link_to admin_path, class: "nav-link" do %>
              <i class="nav-icon bi bi-speedometer"></i>
              <p><%= t('shared.items.administration') %></p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_users_path, class: "nav-link" do %>
              <i class="nav-icon bi bi-person-fill"></i>
              <p><%= t('activerecord.models.user') %></p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_entity_business_path, class: "nav-link" do %>
              <i class="nav-icon bi bi-building"></i>
              <p><%= t('activerecord.models.entity_business') %></p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_warehouse_path, class: "nav-link" do %>
              <i class="nav-icon bi bi-boxes"></i>
              <p><%= t('activerecord.models.warehouse') %></p>
            <% end %>
          </li>















          <li class="nav-header">PARA TEXTOS</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-speedometer"></i>
              <p>
                Dashboard
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Dashboard v1</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Dashboard v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon bi bi-circle"></i>
                  <p>Dashboard v3</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!--end::Sidebar Menu-->
      </nav>
    </div>
    <!--end::Sidebar Wrapper-->
  </aside>
  <!--end::Sidebar-->
  <!--begin::App Main-->
  <main class="app-main">
    <%= yield %>
  </main>
  <!--end::App Main-->
  <!--begin::Footer-->
  <footer class="app-footer bg-body-tertiary" data-bs-theme="dark">
    <!--begin::To the end-->
    <div class="float-end d-none d-sm-inline">Anything you want</div>
    <!--end::To the end-->
    <!--begin::Copyright-->
    <strong>
      Copyright &copy; 2025&nbsp;
      <a class="text-white" href="https://www.linkedin.com/in/ernepazzo1212">ErnePazzo</a>.
    </strong>
    All rights reserved.
    <!--end::Copyright-->
  </footer>
  <!--end::Footer-->
</div>
<!--end::App Wrapper-->
<!--begin::Script-->
<!--begin::Third Party Plugin(OverlayScrollbars)-->


<!--<script-->
<!--  src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/browser/overlayscrollbars.browser.es6.min.js"-->
<!--  crossorigin="anonymous"-->
<!--</script>-->
<!--<script-->
<!--  src="<%#= asset_url('admin/jsdelivr/overlayscrollbars.browser.es6.min.js') %>"-->
<!--  crossorigin="anonymous"-->
<!--</script>-->



<!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Required Plugin(popperjs for Bootstrap 5)-->


<!--<script-->
<!--  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"-->
<!--  crossorigin="anonymous"-->
<!--</script>-->
<!--<script-->
<!--  src="<%#= asset_url('admin/jsdelivr/popper.min.js') %>"-->
<!--  crossorigin="anonymous"-->
<!--</script>-->



<!--end::Required Plugin(popperjs for Bootstrap 5)--><!--begin::Required Plugin(Bootstrap 5)-->
<!--<script-->
<!--  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"-->
<!--  crossorigin="anonymous"-->
<!--</script>-->
<!--end::Required Plugin(Bootstrap 5)--><!--begin::Required Plugin(AdminLTE)-->
<!--<script src="../js/adminlte.js"></script>-->
<!--end::Required Plugin(AdminLTE)--><!--begin::OverlayScrollbars Configure-->
<script>
    /*const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
    const Default = {
        scrollbarTheme: 'os-theme-light',
        scrollbarAutoHide: 'leave',
        scrollbarClickScroll: true,
    };
    document.addEventListener('DOMContentLoaded', function () {
        const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
        if (sidebarWrapper && OverlayScrollbarsGlobal?.OverlayScrollbars !== undefined) {
            OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                scrollbars: {
                    theme: Default.scrollbarTheme,
                    autoHide: Default.scrollbarAutoHide,
                    clickScroll: Default.scrollbarClickScroll,
                },
            });
        }
    });*/
</script>
<!--end::OverlayScrollbars Configure-->
<!--begin::Bootstrap Tooltips-->
<script>
    /*const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    tooltipTriggerList.forEach((tooltipTriggerEl) => {
        new bootstrap.Tooltip(tooltipTriggerEl);
    });*/
</script>
<!--end::Bootstrap Tooltips-->
<!--begin::Bootstrap Toasts-->
<script>
    /*const toastTriggerList = document.querySelectorAll('[data-bs-toggle="toast"]');
    toastTriggerList.forEach((btn) => {
        btn.addEventListener('click', (event) => {
            event.preventDefault();
            const toastEle = document.getElementById(btn.getAttribute('data-bs-target'));
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastEle);
            toastBootstrap.show();
        });
    });*/
    /*"use strict";

    const storedTheme = localStorage.getItem("theme");

    const getPreferredTheme = () => {
        if (storedTheme) {
            return storedTheme;
        }

        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    };

    const setTheme = function (theme) {
        if (
            theme === "auto" &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
        ) {
            document.documentElement.setAttribute("data-bs-theme", "dark");
        } else {
            document.documentElement.setAttribute("data-bs-theme", theme);
        }
    };

    setTheme(getPreferredTheme());

    const showActiveTheme = (theme, focus = false) => {
        const themeSwitcher = document.querySelector("#bd-theme");

        if (!themeSwitcher) {
            return;
        }

        const themeSwitcherText = document.querySelector("#bd-theme-text");
        const activeThemeIcon = document.querySelector(".theme-icon-active i");
        const btnToActive = document.querySelector(
            `[data-bs-theme-value="${theme}"]`
        );
        const svgOfActiveBtn = btnToActive.querySelector("i").getAttribute("class");

        for (const element of document.querySelectorAll("[data-bs-theme-value]")) {
            element.classList.remove("active");
            element.setAttribute("aria-pressed", "false");
        }

        btnToActive.classList.add("active");
        btnToActive.setAttribute("aria-pressed", "true");
        activeThemeIcon.setAttribute("class", svgOfActiveBtn);
        const themeSwitcherLabel = `${themeSwitcherText.textContent} (${btnToActive.dataset.bsThemeValue})`;
        themeSwitcher.setAttribute("aria-label", themeSwitcherLabel);

        if (focus) {
            themeSwitcher.focus();
        }
    };

    window.matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", () => {
            if (storedTheme !== "light" || storedTheme !== "dark") {
                setTheme(getPreferredTheme());
            }
        });

    window.addEventListener("DOMContentLoaded", () => {
        showActiveTheme(getPreferredTheme());

        for (const toggle of document.querySelectorAll("[data-bs-theme-value]")) {
            toggle.addEventListener("click", () => {
                const theme = toggle.getAttribute("data-bs-theme-value");
                localStorage.setItem("theme", theme);
                setTheme(theme);
                showActiveTheme(theme, true);
            });
        }
    });*/
</script>
<!--end::Bootstrap Toasts-->
<!--end::Script-->
<%= turbo_frame_tag 'remote_modal' %>
<%#= javascript_include_tag "global/jsColorPicker.min.js", 'data-turbo-track': 'reload' %>
<script type="text/javascript">
    $(document).ready(function () {
        <% if flash.present?%>
        <%flash.each do |f| %>
        toastr["<%=f[0] %>"]("<%=f[1] %>")
        <%end %>
        <%end %>
    })
</script>
</body>
<!--end::Body-->
</html>
